.skills--hard-skill-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
  width: 4em;
  h3 {
    font-weight: 400;
    font-size: 1.2em;
  }
}
