@use 'globals/styles';

textarea#message {
  border-radius: 10px;
  padding: 0.4em;
}

.field {
  color: styles.$fg-main;
  background-color: styles.$bg-main;
  border: 1px solid styles.$accent-main;
}

#contact--form {
  label,
  input,
  textarea {
    display: block;
    outline: none;
  }
  input[type='text'] {
    border-radius: 15px;
    padding: 0.5em;
    color: styles.$fg-main;
  }
  .contact--form-message input {
    border-radius: 10px;
    flex-grow: 1;
  }

  .contact--form-field {
    label {
      font-size: 0.7em;
      opacity: 0.6;
      transform: translateX(1.3em);
      transition: all 250ms ease-out;
    }

    &[data-text='has-text'] label,
    &[data-text='has-text'] textarea {
      opacity: 1 !important;
      transform: translate(0.3em) !important;
      color: styles.$accent-main !important;
    }

    &:focus-within label {
      opacity: 1;
    }
  }
}
