@use 'globals/styles';

.nav--main-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: styles.$bg-nav;
}
nav.nav--main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.nav--logo {
  cursor: pointer;
  width: 5em;
  svg {
    width: 100%;
  }
}

.nav--hamburger {
  display: none;
  width: 1.5em;
  cursor: pointer;
}

.nav--links-close-menu {
  display: none;
}

.nav--links {
  ul {
    li {
      a {
        text-decoration: none;
        color: styles.$fg-disabled;
        transition: color 250ms ease;
      }
      a.active {
        color: styles.$accent-main;
      }
      a:hover {
        color: styles.$fg-main;
      }
    }
  }
}

@media only screen and (max-width: 669px) {
  .nav--util {
    gap: 1em;
  }
  .nav--hamburger {
    display: block;
  }
  .nav--links {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    background-color: hsla(227deg, 100%, 4%, 70%);
    backdrop-filter: blur(7px);
    transform: translateX(100%);
    transition: transform 250ms ease-in;
    &.is-open {
      transform: translate(0);
    }

    .nav--links-close-menu {
      display: block;
      position: absolute;
      top: 1em;
      right: 1em;
      cursor: pointer;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 3em;
      padding-right: 3em;
      transform: translateY(20vh);
      li {
        font-size: 1.2em;
        a {
          color: styles.$fg-main;
        }
      }
    }
  }
}

@media only screen and (min-width: 670px) {
  .nav--main {
    gap: 4em;
    .nav--links {
      flex-grow: 1;
      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3em;
      }
    }
  }
}
