@use 'globals/styles';

button.btn--resume {
  background-color: styles.$accent-main;
  color: styles.$bg-main;
  padding: 0.4em 1em;
  border-radius: 1.2em;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  transition: box-shadow 250ms ease;
  &:hover {
    box-shadow: 0px 0px 1em styles.$accent-main;
  }
}
