---
import Layout from "../layout/layout.astro";
import Html from "../layout/html.astro";
import Section from "../components/section.astro";
import About from "../components/about.astro";
import Experience from "../components/experience.astro";
import Projects from "../components/projects.astro";
import Contact from "../components/contact.astro";
---

<Html>
	<Layout>
		<Section id="about">
			<About />
		</Section>

		<Section id="experience">
			<Experience />
		</Section>

		<Section id="projects">
			<Projects />
		</Section>

		<Section id="contact">
			<Contact />
		</Section>
	</Layout>
</Html>

<style>
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 5rem;
	}
</style>
