---
import ProjectCard from "../components/card.astro";
import Layout from "../layout/layout.astro";
---

<Layout header="Projects">
    <div
        class="flex w-full grid-cols-2 flex-col items-center justify-center gap-3 md:grid md:items-start"
    >
        <ProjectCard
            title="INSO Housing"
            stack={["Go", "MySQL", "Docker", "React.js"]}
            github={"test"}
            live={"live"}
        >
            <p>
                INSO Housing is a charitable initiative that assists homeless
                shelter management by facilitating occupant tracking and
                establishing a network to streamline communication among
                shelters. It was developed using Golang for the backend, MySQL
                as the database, Docker for containerization, and ReactJS for
                the frontend.
            </p>
        </ProjectCard>
        <ProjectCard
            title="Silver Rock"
            stack={["Next.js", "PostgreSQL", "Node.js", "TailwindCSS"]}
            github={"test"}
            live={"live"}
        >
            <p>
                Ipsum ratione recusandae repellendus ullam doloremque minus
                beatae Quis deleniti repudiandae excepturi quaerat reiciendis.
                Exercitationem totam culpa unde aliquid necessitatibus.
            </p>
        </ProjectCard>
    </div>
</Layout>
