---
import { Icon } from "astro-icon/components";
import { links } from "../assets/links";
import AboutSVG from "../assets/about.svg";
---

<section class="flex flex-col gap-5 justify-between items-center w-full p-5">
	<div class="flex flex-col justify-center items-center gap-3">
		<img src={AboutSVG.src} class="w-32" />
		<h2 class="text-accent-200 text-3xl font-bold text-center">About</h2>
	</div>

	<div class="max-w-[65ch] leading-relaxed flex flex-col gap-3">
        <span class="font-bold text-xl">Hello 👋!</span>
		<p>
			I'm a 4<sup>th</sup> year Computer Science student at University of Victoria,
			with a strong focus on <span class="font-bold">Networking</span> and
			<span class="font-bold">Security</span>. Beyond my academic
			pursuits, I'm deeply passionate about Cryptography, Linux, and Free
			and Open Source Software (FOSS).
		</p>
		<p>
			My journey through the tech industry has led me to roles at various
			startups and freelancing opportunities, where I've authored code as
			a <span class="font-bold italic">full-stack software developer</span
			>. These experiences have introduced me to the modern web
			technologies, and standard security practices.
		</p>
		<p>
			Motivated to learn, I constantly seek to leverage my skills and
			expertise to contribute meaningfully to the realms of cybersecurity
			and open-source innovation.
		</p>
	</div>

	<div class="flex flex-row justify-center gap-3">
		{
			links.map(({ href, icon }) => (
				<a href={href} target="_blank">
					<Icon
						name={icon}
						class="text-accent-200 w-7 hover:scale-125 transition-all"
					/>
				</a>
			))
		}
	</div>
</section>
