@use 'globals/styles';

#contact {
  flex-direction: column;
}
.contact--page-wrapper {
  width: 100%;
  @include styles.flex-center;
}

.contact--external-links {
  transform: translateY(5em);
  display: flex;
}

@media only screen and (max-width: 1000px) {
  #contact {
    .contact--page-wrapper {
      flex-direction: column;
      .svg--contact {
        @include styles.flex-center;
        .svg--contact-asset {
          display: none;
        }
      }
    }
    .contact--external-links {
      gap: 3em;
    }
  }
}

@media only screen and (min-width: 1001px) {
  #contact {
    .contact--page-wrapper {
      align-items: flex-start;
      font-size: 1.5em;
      gap: 1em;
      .svg--contact {
        position: relative;
        transform: translateY(0.8em);
        .svg--watermark {
          position: absolute;
          bottom: 0;
          right: 0;
        }
        .svg--contact-asset {
          width: 22em;
        }
      }
    }
    .contact--external-links {
      gap: 5em;
      svg {
        opacity: 0.5;
        transition: all 300ms ease;
      }
      svg:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}
