---
import { ViewTransitions } from "astro:transitions";
import "../global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hal Nguyen</title>
		<ViewTransitions />
	</head>
	<slot />
	<style>
		body {
			@apply bg-slate-950 text-slate-50;
		}
	</style>
</html>
