---
import Nav from "../components/nav.svelte";
import Html from "./html.astro";
import type { TransitionAnimationPair, TransitionAnimationValue } from "astro";

const contentAnimation: TransitionAnimationPair = {
    new: {
        name: "contentIn",
        delay: "0.1s",
        duration: 200,
        easing: "linear",
    },
    old: {
        name: "contentOut",
        delay: "0s",
        duration: 200,
        easing: "linear",
    },
};
const contentFade: TransitionAnimationValue = {
    forwards: contentAnimation,
    backwards: contentAnimation,
};

const headerAnimation: TransitionAnimationPair = {
    new: {
        name: "headerIn",
        duration: 200,
    },
    old: {
        name: "headerOut",
        duration: 200,
    },
};

const headerSlide: TransitionAnimationValue = {
    forwards: headerAnimation,
    backwards: headerAnimation,
};
---

<Html>
    <body>
        <Nav client:load />
        <header class="" transition:animate={headerSlide}>
            <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-accent-200">
                    Portfolio
                </h1>
            </div>
        </header>
        <main transition:animate={contentFade}>
            <div class="mx-auto max-w-7xl py-6 px-6 lg:px-8">
                <slot />
            </div>
        </main>
    </body>
</Html>
<style>
    @keyframes contentIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes contentOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes headerIn {
        0% {
            opacity: 0;
            transform: translateX(20px);
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes headerOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>
